{% load approval_process_tags %}

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">

            <table class="table table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="center">编号</th>
                    <th class="center">项目名称</th>
                    <th class="center">项目时间</th>
                    <th class="center">服务部门</th>
                    <th class="center">姓名</th>
                    <th class="center">身份证号</th>
                    <th class="center">性别</th>
                    <th class="center">手机号码</th>
                    <th class="center">项目名称</th>
                    <th class="center">服务部门</th>
                    <th class="center">合同开始时间</th>
                    <th class="center">合同结束时间</th>
                    <th class="center">工作地点</th>
                    <th class="center">岗位或内容</th>
                    <th class="center">劳务费标准</th>
                    <th class="center">开始工作日</th>
                    <th class="center">结束工作日</th>
                    <th class="center">工作天数</th>
                    <th class="center">小时数</th>
                    <th class="center">发放金额</th>
                    <th class="center">领取人</th>
                    <th class="center">发放人</th>
                    <th class="center">发放时间</th>
                    <th class="center">招聘人</th>
                    <th class="center">备注</th>
                    <th class="center">操作</th>
                </tr>
                </thead>

                <tbody>
                {% for one_info in contract_list %}
                    <tr class="center">

                        <td>{{ one_info.id }}</td>
                        <td>{{ one_info.project_name.full_name }}</td>
                        <td>{{ one_info.project_date }}</td>
                        <td>{{ one_info.project_name.department }}</td>
                        <td>{{ one_info.name }}</td>
                        <td>{{ one_info.identity_card_number }}</td>
                        <td>{{ one_info.get_sex_display }}</td>
                        <td>{{ one_info.phone_number }}</td>
                        <td>{{ one_info.project_name.full_name }}</td>
                        <td>{{ one_info.project_name.department }}</td>
                        <td>{{ one_info.start_date | default_if_none:"" }}</td>
                        <td>{{ one_info.end_date | default_if_none:"" }}</td>
                        <td>{{ one_info.workplace }}</td>
                        <td>{{ one_info.post }}</td>
                        <td>{{ one_info.payroll_standard }}</td>
                        <td>{{ one_info.start_work_date | default_if_none:"" }}</td>
                        <td>{{ one_info.end_work_date | default_if_none:"" }}</td>
                        <td>{{ one_info.work_days | default_if_none:"" }}</td>
                        <td>{{ one_info.work_hours | default_if_none:"" }}</td>
                        <td>{{ one_info.grant_money | default_if_none:"" }}</td>
                        <td>{{ one_info.recipients }}</td>
                        <td>{{ one_info.grant_user.first_name | default_if_none:"" }}</td>
                        <td>{{ one_info.grant_time | date }}</td>
                        <td>{{ one_info.recruiters.first_name | default_if_none:"" }}</td>
                        <td>{{ one_info.remark }}</td>
                        <td>
                            <div>
                                <button class="btn btn-minier btn-info" data-rel="tooltip" title="下载"
                                        onclick="download_contract_hourly({{ one_info.id }})">
                                    <i class="ace-icon fa fa-download bigger-120"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr class="info center">
                        <td colspan="25">抱歉，目前没有满足条件的信息。</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.span -->
    </div>
</div><!-- /.row -->

<script>
    function download_contract_hourly(contract_id) {
        window.location.href = '{% url "contract:download_contract" contract_type="5" %}' + "?contractid=" + contract_id;
        setTimeout("window.location.href = '{% url "contract:download_contract_pdf" %}' + '?contract_type=5'", 2000)
    }
</script>