{# mark_as_read_by_url automatically marks all messages with #}
{# url = request.get_full_path and user=request.user as READ #}
{# So, when you click a specific page, it can autmatically close #}
{# some messages. #}
{#{% load mark_as_read_by_url %}#}
{#{% mark_as_read_by_url %}#}

{% load share_module_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    {% get_system_param "site_name" as site_name %}
    {% get_system_param "company_name" as company_name %}
    <title>{% block title %}{{ site_name }} {{ company_name }}{% endblock %}</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.css"/>

    <!-- page specific plugin styles -->
    {% block css %}{% endblock %}

    <!-- text fonts -->
    <link rel="stylesheet" href="/static/css/ace-fonts.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/static/css/ace.css" class="ace-main-stylesheet" id="main-ace-style"/>
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker3.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/css/ace-part2.css" class="ace-main-stylesheet"/>
    <![endif]-->

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/static/css/ace-ie.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="/static/css/jquery.gritter.css"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
    {% block self_css %}{% endblock %}

    <!-- ace settings handler -->
    <script src="/static/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.js"></script>
    <![endif]-->

</head>
{% block body %}
    <body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {
            }
        </script>

        <div class="navbar-container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <small>
                        <img class="small" src="/static/images/laobour1_04.png">
                        <!--<i class="fa fa-leaf"></i>-->
{#                        {{ site_name }}#}
                    </small>
                </a>

                <!-- /section:basics/navbar.layout.brand -->

                <!-- #section:basics/navbar.toggle -->

                <!-- /section:basics/navbar.toggle -->
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <!-- <li class="grey">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-tasks"></i>
                            <span class="badge badge-grey">4</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-check"></i>
                                4 完成任务
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">今日目标</span>
                                                <span class="pull-right">65%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:65%" class="progress-bar"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">未完成事件</span>
                                                <span class="pull-right">35%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">出错率</span>
                                                <span class="pull-right">15%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">务工人员信息录入</span>
                                                <span class="pull-right">90%</span>
                                            </div>

                                            <div class="progress progress-mini progress-striped active">
                                                <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    查看任务细节
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="purple">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                8 通知
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                新的评论
                                            </span>
                                                <span class="pull-right badge badge-info">+12</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="btn btn-xs btn-primary fa fa-user"></i>
                                            张三刚刚签署了一份协议 ...
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                新的项目
                                            </span>
                                                <span class="pull-right badge badge-success">+8</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                Followers
                                            </span>
                                                <span class="pull-right badge badge-info">+11</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    查看所有通知
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">5</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                5 信息
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/static/avatars/avatar.png" class="msg-photo"
                                                 alt="Alex's Avatar"/>
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">亚历克斯:</span>
                                                你好，你的申请已经通过审批了 ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>片刻之前</span>
                                            </span>
                                        </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/static/avatars/avatar3.png" class="msg-photo"
                                                 alt="Susan's Avatar"/>
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">苏珊:</span>
                                                系统增加了考勤功能 ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>20 分钟之前</span>
                                            </span>
                                        </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/static/avatars/avatar4.png" class="msg-photo"
                                                 alt="Bob's Avatar"/>
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">鲍勃:</span>
                                                Nullam quis risus eget urna mollis ornare ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>3:15 pm</span>
                                            </span>
                                        </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/static/avatars/avatar2.png" class="msg-photo"
                                                 alt="Kate's Avatar"/>
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Kate:</span>
                                                Ciao sociis natoque eget urna mollis ornare ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>1:33 pm</span>
                                            </span>
                                        </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/static/avatars/avatar5.png" class="msg-photo"
                                                 alt="Fred's Avatar"/>
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">Fred:</span>
                                                Vestibulum id penatibus et auctor  ...
                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>10:09 am</span>
                                            </span>
                                        </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="/mysite/emails">
                                    查看所有信息
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li> -->

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="{{ request.user.photo.url }}"
                                 alt="{{ request.user.username }}"/>
                        <span class="user-info">
                            <small>欢迎回来,</small>
                            <strong>{% firstof request.user.get_short_name request.user.get_username %}</strong>
                        </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="/mysite/personal">
                                    <i class="ace-icon fa fa-user"></i>
                                    个人信息
                                </a>
                            </li>

                            <li>
                                <a href="/accounts/password_change">
                                    <i class="ace-icon fa fa-key"></i>
                                    密码修改
                                </a>
                            </li>
                            <li class="divider"></li>

                            <li>
                                <a href="/accounts/logout">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {
            }
        </script>

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed')
                } catch (e) {
                }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts" style="z-index: 100">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <!-- #section:basics/sidebar.layout.shortcuts -->
                    <span class="btn btn-warning tooltip-warning" onclick="window.location.href='/employeemanage/employee/list'"
                          title="员工信息">
                        <i class="ace-icon fa fa-users"></i>
                    </span>

                    <button class="btn btn-danger" onclick="window.location.href='/system/config'" title="系统设置">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>

                    <!-- /section:basics/sidebar.layout.shortcuts -->
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list" id="menu"></ul>

            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
                   data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'collapsed');
                } catch (e) {
                }
            </script>
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try {
                            ace.settings.check('breadcrumbs', 'fixed')
                        } catch (e) {
                        }
                    </script>
                    <ul class="breadcrumb">
                        <li><i class="ace-icon fa fa-home home-icon"></i>
                            <a href="{% url 'home_page' %}">主页</a>
                        </li>
                        {% block breadcrumb %}

                        {% endblock %}<!-- /.breadcrumb -->
                    </ul>

                    <!-- #section:basics/content.searchbox -->
                    <!--<div class="nav-search" id="nav-search">-->
                    <!--<form class="form-search">-->
                    <!--<span class="input-icon">-->
                    <!--<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />-->
                    <!--<i class="ace-icon fa fa-search nav-search-icon"></i>-->
                    <!--</span>-->
                    <!--</form>-->
                    <!--</div>&lt;!&ndash; /.nav-search &ndash;&gt;-->

                    <!-- /section:basics/content.searchbox -->
                </div>
                {#                <div id="monitioMessages"></div>#}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>
                            <strong> {{ message }} </strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- /section:basics/content.breadcrumbs -->
                <!--<div class="page-content animated fadeInRight">-->
                <div class="page-content">
                    <!-- #section:settings.box -->
                    <div class="ace-settings-container" id="ace-settings-container">
                        <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                            <i class="ace-icon fa fa-cog bigger-130"></i>
                        </div>

                        <div class="ace-settings-box clearfix" id="ace-settings-box">
                            <div class="pull-left width-50">
                                <!-- #section:settings.skins -->
                                {% comment %}<div class="ace-settings-item">
                                    <div class="pull-left">
                                        <select id="skin-colorpicker" class="hide">
                                            <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                        </select>
                                    </div>
                                    <span>&nbsp; 选择皮肤</span>
                                </div>{% endcomment %}

                                <!-- /section:settings.skins -->

                                <!-- #section:settings.navbar -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar"/>
                                    <label class="lbl" for="ace-settings-navbar"> 固定导航栏</label>
                                </div>

                                <!-- /section:settings.navbar -->

                                <!-- #section:settings.sidebar -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar"/>
                                    <label class="lbl" for="ace-settings-sidebar"> 固定侧边栏</label>
                                </div>

                                <!-- /section:settings.sidebar -->

                                <!-- #section:settings.breadcrumbs -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs"/>
                                    <label class="lbl" for="ace-settings-breadcrumbs"> 固定面包屑</label>
                                </div>

                                <!-- /section:settings.breadcrumbs -->

                                <!-- #section:settings.rtl -->
{% comment %}                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"/>
                                    <label class="lbl" for="ace-settings-rtl"> 右到左 (rtl)</label>
                                </div>{% endcomment %}

                                <!-- /section:settings.rtl -->

                                <!-- #section:settings.container -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container"/>
                                    <label class="lbl" for="ace-settings-add-container">
                                        切换窄屏
                                        <!--<b>.container</b>-->
                                    </label>
                                </div>

                                <!-- /section:settings.container -->
                            </div><!-- /.pull-left -->

                            <div class="pull-left width-50">
                                <!-- #section:basics/sidebar.options -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"/>
                                    <label class="lbl" for="ace-settings-hover"> 子菜单悬停显示</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"/>
                                    <label class="lbl" for="ace-settings-compact"> 紧凑的侧边栏</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight"/>
                                    <label class="lbl" for="ace-settings-highlight"> 加重活动菜单</label>
                                </div>

                                <!-- /section:basics/sidebar.options -->
                            </div><!-- /.pull-left -->
                        </div><!-- /.ace-settings-box -->
                    </div><!-- /.ace-settings-container -->

                    <!-- /section:settings.box -->

                    <div class="col-sm-12">
                        <span class="col-sm-4">
                            <label class="pull-right inline">
                                <input id="gritter-light" checked="" type="checkbox"
                                       class="ace ace-switch ace-switch-5"/>
                            </label>
                        </span><!-- /.col -->
                    </div><!-- /.col -->

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            {% block page-content %}{% endblock %}
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">{{ company_name }} &copy; 2018</span>
                </span>

                    <!--<span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>-->
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/static/js/jquery.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/static/js/jquery1x.js'>" + "<" + "/script>");
</script>
<![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/static/js/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>

    <script type="text/javascript" src="/static/customjs/mycookies.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <script src="/static/js/pace.js"></script>
    <link rel="stylesheet" href="/static/css/pace.css"/>

    <!-- page specific plugin scripts -->
    {% block js %}{% endblock %}

    <!-- ace scripts -->
    <script src="/static/js/ace/elements.scroller.js"></script>
    <script src="/static/js/ace/elements.colorpicker.js"></script>
    <script src="/static/js/ace/elements.fileinput.js"></script>
    <script src="/static/js/ace/elements.typeahead.js"></script>
    <script src="/static/js/ace/elements.wysiwyg.js"></script>
    <script src="/static/js/ace/elements.spinner.js"></script>
    <script src="/static/js/ace/elements.treeview.js"></script>
    <script src="/static/js/ace/elements.wizard.js"></script>
    <script src="/static/js/ace/elements.aside.js"></script>
    <script src="/static/js/ace/ace.js"></script>
    <script src="/static/js/ace/ace.ajax-content.js"></script>
    <script src="/static/js/ace/ace.touch-drag.js"></script>
    <script src="/static/js/ace/ace.sidebar.js"></script>
    <script src="/static/js/ace/ace.sidebar-scroll-1.js"></script>
    <script src="/static/js/ace/ace.submenu-hover.js"></script>
    <script src="/static/js/ace/ace.widget-box.js"></script>
    <script src="/static/js/ace/ace.settings.js"></script>
    <script src="/static/js/ace/ace.settings-rtl.js"></script>
    <script src="/static/js/ace/ace.settings-skin.js"></script>
    <script src="/static/js/ace/ace.widget-on-reload.js"></script>
    <script src="/static/js/ace/ace.searchbox-autocomplete.js"></script>
    <script src="/static/js/date-time/bootstrap-datepicker.js"></script>
    <script src="/static/js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>
    <script src="/static/customjs/sidebar_menu.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/customjs/custom_base.js"></script>
    <script src="/static/js/jquery.gritter.js"></script>
    <script src="/static/customjs/custom_alert_gritter.js"></script>

    <script>
        $('[data-rel=tooltip]').tooltip();
        $('input[name="db_id"]').prop("checked", false);
        $('input[name="check_all"]').click(function () {
            if ($(this).is(":checked")) {
                $('input[name="db_id"]').prop("checked", true);
            }
            else {
                $('input[name="db_id"]').prop("checked", false);
            }
        });
        $('#menu').sidebarMenu({url: "{% url 'getmenubyuser' %}", param: null});

        function setParam(param, value) {
            var query = location.search.substring(1);
            var p = new RegExp("(^|)" + param + "=([^&]*)(|$)");
            if (p.test(query)) {
                //query = query.replace(p,"$1="+value);
                var firstParam = query.split(param)[0];
                var secondParam = query.split(param)[1];
                if (secondParam.indexOf("&") > -1) {
                    var lastPraam = secondParam.split("&")[1];
                    return '?' + firstParam + '&' + param + '=' + value + '&' + lastPraam;
                } else {
                    if (firstParam) {
                        return '?' + firstParam + '' + param + '=' + value;
                    } else {
                        return '?' + param + '=' + value;
                    }
                }
            } else {
                if (query === '') {
                    return '?' + param + '=' + value;
                } else {
                    return '?' + query + '&' + param + '=' + value;
                }
            }
        }
        {% if page_obj %}
            layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage;
                var num_pages = {{ page_obj.paginator.num_pages }};
                laypage({
                    cont: 'pager',
                    pages: num_pages, //总页数
                    groups: 5, //连续显示分页数
                    skip: true,
                    skin: '#5191C1',
                    last: num_pages,
                    curr: function () { //通过url获取当前页，也可以同上（pages）方式获取
                        var page = location.search.match(/page=(\d+)/);
                        return page ? page[1] : 1;
                    }(),
                    jump: function (obj, first) {//点击页码出发的事件
                        if (!first) {//是否首次进入页面
                            var currentPage = obj.curr;//获取点击的页码
                            window.location.href = setParam("page",currentPage);
                        }
                    }
                });
            });
        {% endif %}

    </script>
    <!-- inline scripts related to this page -->
    {% block self_js %}{% endblock %}
    {% block modules_js %}{% endblock %}
    </body>
{% endblock %}
</html>
