{% extends "base/base.html" %}
{% load share_module_tags %}
{% load organizational_structure_tags %}
{% block css %}
    <link rel="stylesheet" href="/static/css/jquery-ui.css"/>
{% endblock %}

{% block breadcrumb %}
    <li><a href="#">组织架构</a></li>
    <li class="active">管理人员</li>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <div class="widget-box widget-color-blue2">
                    <div class="widget-header">
                        <i class="menu-icon fa fa-filter"></i>
                        <h5 class="widget-title">查询内容</h5>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>

                        <div class="widget-toolbar">
                            <button class="btn btn-xs btn-info" onclick="$('#user_form').submit()" data-rel="tooltip"
                                    title="搜索用户">
                                <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                搜索
                            </button>
                            <button class="btn btn-xs btn-info" data-rel="tooltip" title="新增用户"
                                    onclick="window.location.href='{% url "organizational_structure:profile:profile_add" %}'">
                                <i class="ace-icon fa fa-plus-circle bigger-130"></i>
                                新增
                            </button>
                            <button class="btn btn-xs btn-info"
                                    onclick="$('#myProfileModal').modal({backdrop: 'static', keyboard: false})"
                                    data-rel="tooltip" title="导入Excel">
                                <i class="ace-icon fa fa-cloud-upload bigger-130"></i>
                                导入
                            </button>

                            <button class="btn btn-xs btn-info" id="exportprofile" data-rel="tooltip" title="导出Excel">
                                <i class="ace-icon fa fa-cloud-download bigger-130"></i>
                                导出
                            </button>
                        </div>
                    </div>
                    <div class="widget-body">
                        <form id="user_form" class="form-horizontal" method="get">{% csrf_token %}
                            <div class="widget-main padding-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>
                                            <input type="text" id="dept_name" name="dept_name" placeholder="归属部门搜索"
                                                   onclick="query_dept_param()" value="{{ dept_name }}" readonly/>
                                            <input type="hidden" id="dept_ids" name="dept_ids" value="{{ dept_ids }}"/>
                                            <input type="text" id="first_name" name="first_name" placeholder="姓名搜索"
                                                   value="{{ first_name }}"/>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">

                <table class="table table-hover dataTable" id="MyTable">
                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" name="check_all"/>
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th class="center">序号</th>
                        <th class="center">公司名称</th>
{#                        <th class="center">一级部门</th>#}
{#                        <th class="center">二级部门</th>#}
                        <th class="center">用户名</th>
                        <th class="center">姓名</th>
                        <th class="center">性别</th>
                        <th class="center">岗位</th>
{#                        <th class="center">直线上级</th>#}
{#                        <th class="center">邮箱</th>#}
                        <th class="center">手机号</th>
                        <th class="center">座机号</th>
                        <th class="center">办公通讯地址</th>
                        <th class="center">户籍地址</th>
{#                        <th class="center">审批假条</th>#}
{#                        <th class="center">审批借款</th>#}
{#                        <th class="center">审批涨薪</th>#}
                        <th class="center">入职时间(加入时间)</th>
                        <th class="center">在职(有效)</th>
                        <th class="center">部门负责人状态</th>
                        <th class="center">超级用户状态</th>
                        <th class="center">职员状态</th>
                        <th class="center">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for profile in profile_list %}
                        <tr class="center">
                            <td>
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" name="db_id" value="{{ profile.id }}"/>
                                    <span class="lbl"></span>
                                </label>
                            </td>

                            <td>{{ forloop.counter }}</td>
                            <td>{{ profile.company }}</td>
{#                            <td>{{ profile.one_level_dept }}</td>#}
{#                            <td>{{ profile.attribution_dept }}</td>#}
                            <td>
                                <a href="{% url "organizational_structure:profile:profile_edit" pk=profile.id %}">
                                    {{ profile.username }}
                                </a>
                            </td>
                            <td>{{ profile.first_name }}</td>
                            <td>{{ profile.gender | selectgender }}</td>
                            <td>{{ profile.position.name }}</td>
{#                            <td>{{ profile.higher_up }}</td>#}
{#                            <td>{{ profile.email }}</td>#}
                            <td>{{ profile.mobile_phone }}</td>
                            <td>{{ profile.telephone }}</td>
                            <td>{{ profile.address }}</td>
                            <td>{{ profile.remark1 }}</td>
{#                            <td>{{ profile.authorize_leave }} 天</td>#}
{#                            <td>{{ profile.authorize_loan }} ￥</td>#}
{#                            <td>{{ profile.authorize_wage }} ￥</td>#}
                            <td>{{ profile.date_joined | date }}</td>
                            <td>{{ profile.is_active | true_false_formater | safe }}</td>
                            <td>{{ profile.dept_head | true_false_formater | safe }}</td>
                            <td>{{ profile.is_superuser | true_false_formater | safe }}</td>
                            <td>{{ profile.is_staff | true_false_formater | safe }}</td>

                            <td>

                                <div>
                                    <button class="btn btn-minier btn-info"
                                            onclick="window.location.href='{% url "organizational_structure:profile:profile_edit" pk=profile.id %}'">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </button>
                                    <button class="btn btn-minier btn-danger"
                                            onclick="window.location.href='{% url "organizational_structure:profile:profile_delete" pk=profile.id %}'">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </button>

                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="info">
                            <td colspan="25">抱歉，目前没有满足条件的用户信息。</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.span -->
        </div>
    </div><!-- /.row -->

    {% include  "base/paginator.html" %}
    {% include "department_tree.html" %}

    <!-- 导入管理人员 -->
    <div id="myProfileModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        导入管理人员
                        <small>
                            <b style="color: #d14a7d">以模板格式为准,默认密码,111111</b>
                        </small>
                    </h4>
                </div>

                <form action="{% url "organizational_structure:profile:profile_load" %}" method="post"
                      enctype="multipart/form-data" class="form-horizontal" onsubmit="return submit_after('#myProfileModal');">{% csrf_token %}

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="load_info" name="load_info" type="file" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            导入
                        </button>
                        <button class="btn btn-pink btn-sm" data-dismiss="modal"
                                onclick="window.location.href='{% url "download" template_name="profile_info" %}'">
                            下载模板
                        </button>
                        <button class="btn btn-sm" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            取消
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="/static/js/fuelux/fuelux.tree.js"></script>
    <script src="/static/customjs/custom_tree.js"></script>
    <script src="/static/customjs/fixt_able.js"></script>
{% endblock %}
{% block modules_js %}
    <script src="/static/customjs/upload_file.js"></script>
{% endblock %}
{% block self_js %}

    <script type="text/javascript">
        $(document).ready(function () {
            FixTable("MyTable", 7);
        });

        //监听查询条件选择部门
        select_dept_name = "";
        select_dept_id = "";
        $('#tree1').on('selected.fu.tree', function (e, result) {
            var select_list = result.selected;
            select_dept_name = "";
            select_dept_id = "";
            for (var i = 0; i < select_list.length; i++) {
                select_dept_name += delHtmlTag(select_list[i].text.replace(/\s/gi, '')) + ",";
                select_dept_id += select_list[i].value + ",";
            }
            select_dept_name = select_dept_name.substring(0,select_dept_name.length-1);
            select_dept_id = select_dept_id.substring(0,select_dept_id.length-1);
        });

        function select_dept() {
            $('#dept_name').val(select_dept_name);
            $('#dept_ids').val(select_dept_id)
        }

        //选择部门,查询条件
        function query_dept_param() {
            get_all_dept("#tree1", true);
            $('#myDeptModal').modal({backdrop: 'static', keyboard: false})
        }

        //监听新增用户选择部门
        $('#tree2').on('selected.fu.tree', function (e, result) {
            var dept_name = delHtmlTag(result.selected[0].text.replace(/\s/gi, ''));
            $('#add_user_dept').val(dept_name)
        });

        /* 导出*/
        $("#exportprofile").click(function () {
            var select_dept_id = $("#dept_ids").val();
            var first_name = $("#first_name").val();
            location.href = "/organizational/profile/export?dept_ids=" + select_dept_id + "&first_name=" + first_name;
        });

    </script>

{% endblock %}