{% extends "base/base.html" %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
    <li class="active"> 费用信息</li>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <div class="widget-box widget-color-blue2">
                    <div class="widget-header">
                        <i class="menu-icon fa fa-filter"></i>
                        <h5 class="widget-title">查询内容</h5>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>

                        <div class="widget-toolbar">
                            <button class="btn btn-xs btn-info" onclick="$('#user_form').submit()" data-rel="tooltip"
                                    title="搜索费用信息">
                                <i class="ace-icon glyphicon glyphicon-search bigger-120"></i>
                                搜索
                            </button>
                            <button class="btn btn-xs btn-info" data-rel="tooltip" title="新增费用信息"
                                    onclick="window.location.href='{% url "expense_manage:expense_add" %}'">
                                <i class="ace-icon fa fa-plus-circle bigger-130"></i>
                                新增
                            </button>
                        </div>
                    </div>
                    <div class="widget-body">
                        <form id="user_form" class="form-horizontal" method="get">{% csrf_token %}
                            <div class="widget-main padding-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>
                                            <input type="text" id="dept_name" name="dept_name" placeholder="归属部门"
                                                   onclick="query_dept_param()" value="{{ dept_name }}" readonly/>
                                            <input type="hidden" id="dept_ids" name="dept_ids" value=""/>
                                            <input type="text" id="project_name" name="project_name" placeholder="项目名称" value="{{ project_name }}"/>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">

                <table class="table table-hover dataTable" id="MyTable">
                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" name="check_all"/>
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th class="center">编号</th>
                        <th class="center">员工姓名</th>
                        <th class="center">项目名称</th>
                        <th class="center">费用负责人</th>
                        <th class="center">费用类型</th>
                        <th class="center">收支类型</th>
                        <th class="center">申请说明</th>
                        <th class="center">申请人</th>
                        <th class="center">申请时间</th>
                        <th class="center">审批人</th>
                        <th class="center">审批时间</th>
                        <th class="center">审批回复</th>
                        <th class="center">审批状态</th>
                        <th class="center">备注1</th>
                        <th class="center">备注2</th>
                        <th class="center">备注3</th>
                        <th class="center">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for expense in expense_list %}
                        <tr class="center">
                            <td>
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" name="db_id" value="{{ expense.id }}"/>
                                    <span class="lbl"></span>
                                </label>
                            </td>

                            <td>{{ expense.id }}</td>
                            <td>{{ expense.emplyid.name }}</td>
                            <td>{{ expense.projectid.full_name }}</td>
                            <td>{{ expense.userid | default_if_none:"" }}</td>
                            <td>{{ expense.get_expensetype_display }}</td>
                            <td>{{ expense.get_inorout_display }}</td>
                            <td>{{ expense.note }}</td>
                            <td>{{ expense.apply_user | default_if_none:"" }}</td>
                            <td>{{ expense.created | date }}</td>
                            <td>{{ expense.handle_user }}</td>
                            <td>{{ expense.handle_date | date }}</td>
                            <td>{{ expense.reason }}</td>
                            <td>{{ expense.get_status_display }}</td>
                            <td>{{ expense.remark1 }}</td>
                            <td>{{ expense.remark2 }}</td>
                            <td>{{ expense.remark3 }}</td>

                            <td>

                                <div>
                                    <button class="btn btn-minier btn-info"
                                            onclick="window.location.href='{% url "expense_manage:expense_edit" pk=expense.id %}'">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </button>
                                    <button class="btn btn-minier btn-danger"
                                            onclick="window.location.href='{% url "expense_manage:expense_delete" pk=expense.id %}'">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </button>

                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="info center">
                            <td colspan="25">抱歉，目前没有满足条件的信息。</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.span -->
        </div>
    </div><!-- /.row -->

    {% include "base/paginator.html" %}
    {% include "department_tree.html" %}

{% endblock %}

{% block js %}
    <script src="/static/js/fuelux/fuelux.tree.js"></script>
    <script src="/static/customjs/custom_tree.js"></script>
    <script src="/static/customjs/custom_base.js"></script>
    <script src="/static/customjs/fixt_able.js"></script>
{% endblock %}

{% block self_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            FixTable("MyTable", 3);
        });

        //监听查询条件选择部门
        select_dept_name = "";
        select_dept_id = "";
        $('#tree1').on('selected.fu.tree', function (e, result) {
            var select_list = result.selected;
            select_dept_name = "";
            select_dept_id = "";
            for (var i = 0; i < select_list.length; i++) {
                select_dept_name += delHtmlTag(select_list[i].text.replace(/\s/gi,'')) + ",";
                select_dept_id += select_list[i].value + ",";
            }
            select_dept_name = select_dept_name.substring(0,select_dept_name.length-1);
            select_dept_id = select_dept_id.substring(0,select_dept_id.length-1);
        });

        function select_dept() {
            $('#dept_name').val(select_dept_name);
            $('#dept_ids').val(select_dept_id)
        }

        //选择部门,查询条件
        function query_dept_param() {
            get_all_dept("#tree1", true);
            $('#myDeptModal').modal({backdrop: 'static', keyboard: false})
        }



    </script>
{% endblock %}