{% extends "base/base.html" %}
{% load organizational_structure_tags %}
{% block css %} {% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'approval:temporary_write_offs_billing_list' %}">临时工销账与开票</a></li>
    <li class="active">明细表</li>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-main padding-6">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            {% if view_type == '1'  and apply_info.status == '1' %}
                                <button class="btn btn-xs btn-info" data-rel="tooltip" title="新增"
                                        onclick="location.href='{{ add_url }}'">
                                    <i class="ace-icon fa fa-plus-circle bigger-130"></i> 新增
                                </button>
                            {% endif %}
                            <button class="btn btn-xs" data-rel="tooltip" title="返回"
                                    onclick="location.href='{{ return_url }}'">
                                <i class="ace-icon fa fa-arrow-left bigger-130"></i> 返回
                            </button>
                        <div class="alert alert-block alert-info">
                            <i class="ace-icon fa fa-info"></i>
                            <strong class="">： {{ apply_info | default_if_none:"" }} </strong>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover dataTable" id="MyTable">
                    <thead>
                    <tr>
                        <th class="center">编号</th>
                        <th class="center">姓名</th>
                        <th class="center">性别</th>
                        <th class="center">身份证号</th>
                        <th class="center">项目名称</th>
                        <th class="center">项目负责人</th>
                        <th class="center">服务部门</th>
                        <th class="center">招聘人员</th>
                        <th class="center">联系电话</th>
                        <th class="center">开始工作日</th>
                        <th class="center">结束工作日</th>
                        <th class="center">工作天数</th>
                        <th class="center">小时数</th>
                        <th class="center">发放金额</th>
                        <th class="center">发放人</th>
                        <th class="center">发放时间</th>
                        <th class="center">备注</th>
                        <th class="center">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for one_detail in temporary_write_offs_billing_details_list %}
                        <tr class="center">
                            <td>{{ one_detail.id }}</td>
                            <td>{{ one_detail.name }}</td>
                            <td>{{ one_detail.sex | selectgender }}</td>
                            <td>{{ one_detail.identity_card_number }}</td>
                            <td>{{ one_detail.project_name | default_if_none:"" }}</td>
                            <td>{{ one_detail.project_name.principal | default_if_none:"" }}</td>
                            <td>{{ one_detail.project_name.department }}</td>
                            <td>{{ one_detail.recruitment_attache | default_if_none:"" }}</td>
                            <td>{{ one_detail.phone_number }}</td>
                            <td>{{ one_detail.start_work_date | date }}</td>
                            <td>{{ one_detail.end_work_date | date }}</td>
                            <td>{{ one_detail.work_days | default_if_none:"" }}</td>
                            <td>{{ one_detail.hours | default_if_none:"" }}</td>
                            <td>{{ one_detail.amount_of_payment | default_if_none:"" }}</td>
                            <td>{{ one_detail.release_user.first_name | default_if_none:"" }}</td>
                            <td>{{ one_detail.release_time | date }}</td>
                            <td>{{ one_detail.remark1 }}</td>
                            <td>
                                {% if view_type == '1'  and apply_info.status == '1' %}
                                    <button class="btn btn-minier btn-info"
                                            onclick="window.location.href='{% url "approval:temporary_write_offs_billing_details_edit" pk=one_detail.id applicants=applicants %}'">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </button>
                                    <button class="btn btn-minier btn-danger"
                                            onclick="window.location.href='{% url "approval:temporary_write_offs_billing_details_delete" pk=one_detail.id applicants=applicants %}'">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="info center">
                            <td colspan="19">抱歉，目前没有满足条件的信息。</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.span -->
        </div>
    </div><!-- /.row -->

    {% include "base/paginator.html" %}

{% endblock %}

{% block js %}
    <script src="/static/customjs/fixt_able.js"></script>
 {% endblock %}
{% block self_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            FixTable("MyTable", 6);
        });
    </script>
{% endblock %}