{% extends "base/base.html" %}
{% load bootstrap_tags %}
{% load i18n admin_static %}
{% block breadcrumb %} <li class="active">密码修改</li> {% endblock %}
{% block page-content %}
    <div class="page-header">
        <h1>
            {{ title }}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
            </small>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="widget-title lighter">信息表单</h4>

                    <div class="widget-toolbar">
                    </div>
                </div>

                <div class="widget-body">
                    <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
                        <div class="widget-main">
                            <div id="fuelux-wizard-container">
                                <div class="step-content pos-rel">
                                    <div class="step-pane active" data-step="1">
                                        <h3 class="lighter block red">
                                            {% if form.errors %}
                                                {% if form.errors.items|length == 1 %}
                                                    {% trans "Please correct the error below." %}
                                                {% else %}
                                                    {% trans "Please correct the errors below." %}
                                                {% endif %}
                                            {% endif %}
                                        </h3>

                                        <label for="inputError2"
                                               class="col-xs-12 col-sm-3 control-label no-padding-right"></label>
                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-5">
                                                {{ form | as_bootstrap_horizontal }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr/>
                            <div class="center">
                                <!-- #section:plugins/fuelux.wizard.buttons -->
                                <button class="btn btn-sm btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    {% trans 'Change my password' %}
                                </button>
                                <a href="javascript:history.back()" class="btn btn-sm btn-grey">
                                    <i class="ace-icon fa fa-arrow-left"></i>
                                    返回
                                </a>
                            </div>
{#                            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>#}
                        </div><!-- /.widget-main -->
                    </form>
                </div><!-- /.widget-body -->
            </div>
        </div>
    </div>


{% endblock %}
